---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";


$base-font-family: $sans-serif-font-family !default;


.dragon, .page-wrapper {
    margin: 3em auto;
}

.entry {
    max-width:300px;
    margin: 0 auto;
    padding: 0;
    a { color: inherit; text-decoration: underline; }
}

.entry-title, .page-title {
    font: normal 1rem $base-font-family;
}

.entry-meta, .entry-date, .page-date, time.entry-date {
    font: normal 1rem $base-font-family !important;
    letter-spacing: -1px;
    color: #ddd;
}

.page-sidebar {
    text-align: right;
    font: normal 1rem $base-font-family;
    @include breakpoint($small) {
        text-align: left;
    }
}

.page-sidebar h1 {
    font: normal 1rem $base-font-family;
    margin: 0;
    letter-spacing: -0.5px;
    line-height: inherit;
    @include breakpoint($small) {
        font-weight: bold;
    }
}

.page-taxonomies-title, .page-taxonomies {
    @include breakpoint($small) {
        display: none;
    }
}
