---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

@import "so-simple";


$base-font-family: $sans-serif-font-family !default;


.dragon, .page-wrapper {
    margin: 3em auto;
}

.entry {
    max-width:300px;
    margin: 0 auto;
    padding: 0;
    a { color: inherit; text-decoration: underline; }
}

.entry-title, .page-title {
    font: 1rem normal $base-font-family;
}

.entry-meta, .entry-date, .page-date, time.entry-date {
    font: 1em normal $base-font-family;
    color: #ddd;
}

.page-sidebar {
    text-align: right;
    font: 1rem normal $base-font-family;
}

.page-sidebar h1 {
    font: 1rem normal $base-font-family;
    letter-spacing: -0.5px;
    line-height: inherit;
}
