---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    <div class="page-wrapper">
      <div class="page-sidebar">
        {% assign title = page.title | markdownify | strip_html %}
            {% if page.link %}
            <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
            {% else %}
            <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </div>
    </div>
  </article>
</main>
